{% extends "base.html" %}
{% block content %}

<h2>Jenis Pekerjaan</h2>

<a href="{% url 'jenis_create' %}" class="btn btn-primary mb-3">Tambah</a>

<table class="table table-bordered">
    <tr>
        <th>Nama</th>
        <th>Icon</th>
        <th>Aksi</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>{{ item.nama_pekerjaan }}</td>
        <td>
            {% if item.file_path %}
                <img src="{{ item.file_path.url }}" width="40">
            {% endif %}
        </td>
        <td>
            <a href="{% url 'jenis_update' item.pk %}" class="btn btn-sm btn-warning">Edit</a>

            <form method="post" action="{% url 'jenis_delete' item.pk %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger">Hapus</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
